/* styles.css */
body {
  font-family: "Helvetica", "Open Sans", sans-serif;
  background: rgb(255, 255, 179);
  text-align: center;

}

.container {
  background: green;
  color: white;

}

#cultureindian {
  width: 1000px;
  padding: 70px;
  border: 5px solid black;

}