/* styles.css */
body {
  font-family: "Helvetica", "Open Sans", sans-serif;
  background: rgb(255, 255, 179);
  text-align: center;
  max-width: 600px;
  margin: auto;

}


#cultureindian {
  background: green;
  color: white;
  padding: 50px;
  margin: 10px;
  border: 5px solid black;

}